Workflows/01-pull-ollama-model-webhook.json
{
  "name": "Pull Ollama Model (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pull-model",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-pull-model",
      "name": "Webhook - Pull Model",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "pull-ollama-model",
      "notes": "API endpoint: POST /webhook/pull-model with body: {\"model_name\": \"model-name\"}",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "model_name_check",
              "leftValue": "={{ $json.body.model_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300],
      "notes": "Validates that model_name is provided in the request body",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/pull",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"name\": $json.body.model_name,\n  \"stream\": false\n} }}",
        "options": {
          "timeout": 3600000,
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "id": "pull-model",
      "name": "Pull Model from Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [680, 200],
      "notes": "Pulls the specified model from Ollama registry with retry logic. Large models may take several minutes.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://ollama:11434/api/tags",
        "authentication": "none",
        "options": {
          "timeout": 30000
        }
      },
      "id": "list-models",
      "name": "Verify Model Installed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [900, 200],
      "notes": "Lists all installed models to verify the pull was successful",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"model_name\": $('Pull Model from Ollama').item.json.status === 'success' ? $json.body.model_name : $('Pull Model from Ollama').item.json.name || $json.body.model_name,\n  \"message\": \"Model pulled successfully\",\n  \"installed_models\": $json.models ? $json.models.map(m => m.name) : []\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1120, 200],
      "notes": "Returns success response with model details and list of installed models"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Model name is required. Send POST request with body: {\\\"model_name\\\": \\\"model-name\\\"}\"\n} }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [680, 400],
      "notes": "Returns 400 Bad Request when model_name is missing from request body"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": $json.error ? $json.error.message || $json.error : 'Failed to pull model',\n  \"model_name\": $('Webhook - Pull Model').item.json.body.model_name || 'unknown'\n} }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "pull-error-response",
      "name": "Pull Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [900, 400],
      "notes": "Returns 500 Internal Server Error when model pull fails"
    }
  ],
  "connections": {
    "Webhook - Pull Model": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Pull Model from Ollama",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Model from Ollama": {
      "main": [
        [
          {
            "node": "Verify Model Installed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pull Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Model Installed": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-20T00:00:00.000Z",
  "versionId": "2"
}
